.Hero {
    display: flex;
    flex-direction: column;
    justify-content: top;
    flex-shrink: 0;
    overflow: hidden;

    min-width: 100%;
    min-height: 70%;
    background-image: url('/src/assets/img/clouds.jpg');
    background-size: cover;
}

.Title {
    color: rgb(26, 61, 63);
    font-weight: 300;
    flex-grow: 1;
    align-content: center;
}